header {
    text-align: center;
}

.cards {
    display: grid;
    grid-gap: 1px;
    justify-content: center;
    max-width: 900px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    background-color: azure;
    margin: 5px;
}

h2, img, p {
    align-self: center;
    margin: 5px;
}

footer {
    text-align: center;
}