@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Pacifico&display=swap');

:root {
    --primary-color:#073b4cff;
    --secondary-color:#06d6a0ff;
    --accent1-color:#EF476F;
    --accent2-color:#FFD166;
    --accent3-color: #3BA7CB;

    --heading-font:'Pacifico';
    --paragraph-font:'Geologica';

    --nav-background-color: #3BA7CB;
    --nav-link-color: #073b4cff;
    --nav-hover-link-color: #ffd166ff;
    --nav-hover-background-color: #ffffff;  
}

body {
    font-family: var(--heading-font);
    max-width: 900px;
    background-color: var(--accent3-color);
}

main {
    max-width: 900px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

sidebar {
    grid-column: 1 / 2;
}

grid2 {
    grid-column: 2 /3;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    background: black;
    animation: fade 15s;
}

.hero {
    margin: 10px auto;
    position: relative;
}

.hero img{
    width: 960px;
    animation: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    display: flex;
    padding: 2rem;
    background-color: var(--accent1-color);
    align-content: center;
    justify-content: center;
}

.active {
	background-color: gray;
}

h1, h2 {
    background: #FFD166;
    font-family: var(--heading-font);
}

p, ul {
    font-family: var(--paragraph-font);
    color:black;
}

a:link, a:visited {
    color:black;
}

nav a:link, nav a:visited{
    color: black;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

.card2{
    grid-column: 1/2;
}

.card a {
    justify-content: center;
    text-decoration: none;
    display: flex;
}

.card h1 {
    justify-content: center;
}

footer {
    justify-content: center;
}

form {
    font-family: var(--paragraph-font);
    color:black;
}

form label.top, form input {
    padding-top: 1rem;
    display: block;
}

form label.sbs {
    padding: .25rem 0;
    display:flex;
    padding-left: .5rem;
}

form input.submitBtn {
    border: none;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.listItems {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.listItems img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

figure img {
    max-height: 50px;
    max-width: 50px;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--accent2-color)
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img, .card2 img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
    height: 25%;
    max-width: 25%;
    
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: var(--accent1-color);
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

.banner {
    background-color: var(--accent2-color);
    color: #000;
    padding: 10px;
    text-align: center;
}

.bannerContent {
    padding: 15px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.bannerText {
    flex-grow: 1;
    line-height: 1.5;
}

.bannerClose {
    background: none;
    border: none;
    cursor: pointer;
}

/*hamButton*/
nav {
    background: var(--accent1-color);
    margin: 0 auto; 
}

nav ul {
	list-style-type: none;
}

#menu {
    display: block;
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	color: #000;
 	position: absolute;
	top: 5px;
	right: 5px;
    text-decoration: none;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

.navigation li a:hover {
	font-weight: 700;
}

#menu::before {
	content: "☰";
}

#menu.show::before {
	content: "X";
}

.show li {
    display: block;
}

