@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Pacifico&display=swap');

:root {
    --primary-color:#023047;
    --secondary-color:#8ECAE6;
    --accent1-color:#091ba7;
    --accent2-color:#fbea00;

    --heading-font:'Pacifico';
    --paragraph-font:'Geologica';

    --nav-background-color: #8ECAE6;
    --nav-link-color: #023047;
    --nav-hover-link-color: #fbea00;
    --nav-hover-background-color: #ffffff;

    --indigo-dye: #08415cff;
    --persian-red: #cc2936ff;
    --tea-rose-red: #ebbab9ff;
    --blue-munsell: #388697ff;
    --aquamarine: #b5ffe1ff;    
}

body {
    font-family: var(--heading-font);
    max-width: 900px;
    justify-content: center;
    background-color: #08415cff;
}

main {
    max-width: 900px;
    justify-content: center;
    margin: 0 auto;
}

.card {
    display: grid;
}

.card ul {
    list-style-type: none;
}

header {
    display: flex;
    padding: 2rem;
    background-color: var(--secondary-color);
    align-content: center;
    justify-content: center;
}

nav {
    background: var(--accent1-color);
    margin: 0 auto;
    
}

nav a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #ffffff;
    justify-content: space-around;
}

nav ul {
	list-style-type: none;
}

h1 {
    background:#cc2936ff;
    font-family: var(--heading-font);
}

p, ul {
    font-family: var(--paragraph-font);
    color:#ffffff;
}

img {
    max-width: 800px;;
}


