:root {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    --small: 1rem;
    --large: 20rem;
    --border:1px solid #445ba9;
}

main {
    padding: 0 2%;
    min-height: var(--large);
}

form fieldset {
    margin: 2rem 0;
    border: var(--border);
    border-radius: 10px;
    padding: .5rem 2%; 
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: var(--small);
    font-size: var(--small);
    width: 100%;
    max-width: var(--large);
}

form input.submitBtn {
    border: none;
    background-color: #1e0e9b;
    color: white;
    border-radius: var(--small);
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}